// out: ../../style.css, sourcemap: true, compress: true
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
@import 'footer.less';
@import 'navigation.less';
@import 'page.less';
@import 'post.less';
@text: 'Nunito', serif;
@heading: 'Source Sans Pro', sans-serif;

//----Colors----
@sva-green: #006837;
@sva-yellow: #F6F841;
@textcolor: #414141;

//----Basic Styles----
html{
   height: 100%;
   overflow-y: scroll;
}
body {
  color: @textcolor;
  font-family: @text;
  font-size: medium;
  margin: 0;
  min-height: 100%;
  position: relative;
}

.heading {
  font-family: @heading;
}

h1 {
  font-size: xx-large;
  font-weight: normal;
  .heading;
}

h2 {
  font-size: x-large;
  font-weight: normal;
  .heading;
}

h3 {
  font-size: large;
  font-weight: bold;
  .heading;
}

img {
  width: 100%;
  height: auto;
}

.lable {
  font-family: @heading;
  white-space: nowrap;
}

.content{
  margin: auto;
  width: 80%;
  max-width: 800px;
  padding-bottom: 8rem;
}
//----Header----

#site-header {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
  align-items: center;
  padding: 0 40px 0 40px;
}

#logo {
  height: 150px;
  width: auto;
}

#site-title {
  text-decoration: none;
  color: @sva-green;
  font-size: 70px;
  font-weight: lighter;
  margin: 10px;

  a {
    text-decoration: none;
    color: @textcolor;
  }
}
/*
@media screen and (max-width: 1000px) {
  #site-header {
    display: grid;
    grid-template-columns: [logo] auto [title] auto;
    grid-template-rows: [top] auto [nav] auto;
  }

  #logo {
    grid-row: top;
  }

  #site-title {
    grid-row: top;
  }

  #main-nav {
    grid-column: logo / span 2;
    grid-row: nav;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  #site-header {
    display: grid;
    grid-template-columns: [logo] auto [title] auto;
    grid-template-rows: [top] auto [nav] auto;
  }

  #main-nav {
    grid-column: logo / span 2;
    grid-row: nav;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      text-decoration: none;
      color: @textcolor;
    }

    li:not(:first-child) {
      display: none;
      list-style: none;
      text-align: center;
      padding: 0 15px;
      .lable;
    }

    .burger-menu-icon {
      display: block;
      opacity: 0;
      z-index: 2;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
      i{
        font-size: 38px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
      }
    }
  }
}
*/
